<h1><%= @genre.first.genre %></h1>
<hr />
<% @genre.each do |movie| %>
<h3><%= link_to movie.title, movie_path(movie) %></h3>
<% end %>
<br />
<hr />
<h3><%= link_to 'Back', movies_path %></h3>
<br />
<br />
  
